/*
GRID assignment 1, LUDVIG OLAUSSON, WUE19
Fully responsive grid.
*/
html, body, .grid-container { height: 100%; margin: 0; } /* Removes the space around the page and makes the height of the page 100% so it covers the screen. */
body {
    background: url("../img/12_col.gif") center top repeat-y; /* Adding the guide grid as a background image with placement specifications*/
    background-size: 100%;
}
.grid-container * {border: 1px solid black;} /* Adding borders to everything inside grid container*/
.grid-container{
    display: grid;
    height: 100%;
    margin: 1%;
    grid-gap: 2%;
    grid-template-columns: repeat(12, 1fr); /* Prints out 12 columns with 1 fractions of the screen each. */
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: /* Organisation of the differnet elements */
"header header header header header header header header header header header header" 
"box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3" 
"content content content content content content content content content sidebar sidebar sidebar" 
"footer-section footer-section footer-section footer-section footer-section footer-section footer-section footer-section footer-section footer-section footer-section footer-section";
}
.header { grid-area: header; } /* Tells the webbrowser that header is part of a grid */
.box1 { grid-area: box1; }
.box2 { grid-area: box2; }
.box3 { grid-area: box3; }
.content { grid-area: content; }
.sidebar { grid-area: sidebar; }
.footer-section {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 10%; /* Gap between the elements inside the grid. can be written grid-gap, for both col and rows */
    grid-column-gap: 2.5%;
    grid-template-areas: "footer-section-1 footer-section-2 footer-section-3 footer-section-4";
    grid-area: footer-section;
  }
.footer-section-1 { grid-area: footer-section-1; }
.footer-section-2 { grid-area: footer-section-2; }
.footer-section-3 { grid-area: footer-section-3; }
.footer-section-4 { grid-area: footer-section-4; }
@media screen and (min-width: 960px ) and (max-width:1200px) {
    .grid-container{
        grid-template-areas: 
        "header header header header header header header header header header header header" 
        "box1 box1 box1 box2 box2 box2 box2 box2 box2 box3 box3 box3" 
        "content content content content content content content content sidebar sidebar sidebar sidebar" 
        "footer-section footer-section footer-section footer-section footer-section footer-section footer-section footer-section footer-section footer-section footer-section footer-section";
    }
}
@media screen and (min-width: 768px ) and (max-width:960px) { /*Changes the order of the grid objects when the viewport size changes */
    .grid-container{
        grid-template-areas: 
        "header header header header header header header header header header header header" 
        "box1 box1 box1 box2 box2 box2 box2 box2 box2 box3 box3 box3" 
        "content content content content content content content content sidebar sidebar sidebar sidebar" 
        "footer-section footer-section footer-section footer-section footer-section footer-section footer-section footer-section footer-section footer-section footer-section footer-section";
    }
    .footer-section { /* Changes the placement of the differnet elements. controlled by the grid */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "footer-section-1 footer-section-2"
        "footer-section-3 footer-section-4";
      }
}
@media screen and (max-width: 768px) { /* Mobile viewport */ 
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, minmax(100px, auto)) 100px;
        grid-template-areas: 
        "header"
        "box1"
        "box2"
        "box3"
        "content"
        "sidebar"
        "footer-section"
        "footer-section"
        "footer-section"
        "footer-section";
        }
    .footer-section {
        grid-row-gap: 2%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(100px, 100px));
        grid-template-areas: 
        "footer-section-1"
        "footer-section-2"
        "footer-section-3"
        "footer-section-4";
      }
}